/* filter.css */
.filter-container {
    display: flex;
    background-color: white;
    justify-content: center;
    gap:2rem;
    max-height: 30px;
}

.types {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px ;
    margin-bottom: 10px;
    color: black;
    font-family:  Courier, monospace;
    gap:2rem;
}
.types:hover{
    color:red
    
}
.menu-tab{
    display: none;
}

.selected {
    background-color: #000;
    color: #fff;
    padding: 3px;
    border-radius: 4px;
}

.data-box:hover{
    display: block;
}

/* .sidebar-menu-item{
    width: 50%;
    height: 500px;
    position: absolute;
    top: 0px;
    background-color: yellowgreen;
} */


/* @media (max-width: 768px){

    .menu-tab{
        display: block;
    }

    .types{
        display: none;
    }

} */
