.Components{
    display:flex;
    flex-direction: column;
    /* gap:1rem; */
  
}
.navbar {
    position: fixed;
    z-index: 3;
    width: 100%;
    /* box-shadow: 0px 6px 20px 2px rgb(99, 99, 111); */
   
  }
  .filter , .body {
    margin-top: 70px;
  }
  .corousal{
    padding:2rem;
  }